<div class="view">
    <div class="headling-section">
        <h1>Create New Employee</h1>

        <div class="btn group">
            <span class="btn-effect group-hover:-translate-x-40 ease"></span>
            <span class="btn-content"><%= link_to "Go Back", employees_url %></span>
        </div>
    </div>

    <form method="post" action="/employees">
        <div class="form-box">
            <div class="form-field">
                <label class="form-label" for="user_email">User Email (must exist):</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="user_email" name="employee[user_email]"/>
                    </div>
                </div>
            </div>
            
            <div class="form-field">
                <label class="form-label" for="street_address">Street Address:</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="street_address" name="employee[street_address]"/>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="form-label" for="city">City:</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="city" name="employee[city]"/>
                    </div>
                </div>
            </div>
            
            <div class="form-field">
                <label class="form-label" for="postal_code">Postal Code:</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="postal_code" name="employee[postal_code]"/>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="form-label" for="email">Email:</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="email" name="employee[email]"/>
                    </div>
                </div>
            </div>

             <div class="form-field">
                <label class="form-label" for="phone">Phone:</label>
                <div class="form-content">
                    <div class="form-border">
                        <input class="form-input" type="text" id="phone" name="employee[phone]"/>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="btn group">
            <span class="btn-effect group-hover:-translate-x-40 ease"></span>
            <span class="btn-content"><button type="submit">Submit</button></span>
        </div>
    </form>
</div>